apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
  namespace: godzilla
  labels:
    app: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: gateway:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 80
          name: http-port
        livenessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 15
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /healthz
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 5
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
          limits:
            cpu: 250m
            memory: 128Mi
        env:
        - name: REDIS_SERVICE_HOST
          value: "redis-service.godzilla.svc.cluster.local" # Fully qualified domain name for Redis service
        - name: REDIS_SERVICE_PORT
          value: "6379"
        - name: REDIS_PASSWORD
          value: ""
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-svc
  namespace: godzilla
spec:
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
  type: ClusterIP
